In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
tstar=1.96
p=.85
n=659


se=np.sqrt((p * (1-p) )/n )

In [3]:
se

0.01390952774409444

In [4]:
lcb=p-tstar*se
ucb=p+tstar*se
(lcb,ucb)

(0.8227373256215749, 0.8772626743784251)

In [6]:
import statsmodels.api as sm

In [7]:
sm.stats.proportion_confint(n*p,n)

(0.8227378265796143, 0.8772621734203857)

# cart wheel data

In [8]:
import pandas as pd
df=pd.read_csv('Cartwheeldata.csv')

In [10]:
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [18]:
df.groupby('Gender')['CWDistance'].mean()

Gender
F    80.250000
M    84.538462
Name: CWDistance, dtype: float64

In [19]:
df.shape

(25, 12)

In [21]:
mean=df['CWDistance'].mean()
sd=df['CWDistance'].std()
n=len(df)
n

25

In [22]:
tstar=2.064
se=sd/np.sqrt(n)
se

3.0117104774529713

In [23]:
lcb=mean-tstar * se
ucb=mean+ tstar * se
(lcb,ucb)

(76.26382957453707, 88.69617042546294)

In [26]:
sm.stats.DescrStatsW(df['CWDistance']).zconfint_mean()

(76.57715593233026, 88.38284406766975)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
%matplotlib inline

# nhanes data

In [30]:
data=pd.read_csv('nhanes_2015_2016.csv')

In [31]:
data

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5730,93695,2.0,2.0,NaN,1,2,76,3,1.0,3.0,...,112.0,46.0,59.1,165.8,21.5,38.2,37.0,29.5,95.0,2.0
5731,93696,2.0,2.0,NaN,2,1,26,3,1.0,5.0,...,116.0,76.0,112.1,182.2,33.8,43.4,41.8,42.3,110.2,2.0
5732,93697,1.0,NaN,1.0,1,2,80,3,1.0,4.0,...,146.0,58.0,71.7,152.2,31.0,31.3,37.5,28.8,NaN,2.0
5733,93700,NaN,NaN,NaN,1,1,35,3,2.0,1.0,...,106.0,66.0,78.2,173.3,26.0,40.3,37.5,30.6,98.9,2.0
5734,93702,1.0,NaN,2.0,2,2,24,3,1.0,5.0,...,114.0,68.0,58.3,165.0,21.4,38.2,33.5,26.2,72.5,2.0

In [33]:
data.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

## Investigating and cleaning data

In [34]:
data['SMQ020x']=data.SMQ020.replace({1:'yes',2:'No',7:np.nan,9:np.nan})

In [35]:
data['SMQ020x']

0       yes
1       yes
2       yes
3        No
4        No
       ...
5730    yes
5731     No
5732    yes
5733    yes
5734     No
Name: SMQ020x, Length: 5735, dtype: object

In [37]:
data['RIAGENDRx']=data.RIAGENDR.replace({1:'Male',2:'Female'})
data['RIAGENDRx']

0         Male
1         Male
2         Male
3       Female
4       Female
         ...
5730    Female
5731      Male
5732    Female
5733      Male
5734    Female
Name: RIAGENDRx, Length: 5735, dtype: object

In [38]:
dx=data[['SMQ020x','RIAGENDRx']].dropna()

In [39]:
pd.crosstab(dx.SMQ020x,dx.RIAGENDRx)

RIAGENDRx  Female  Male
SMQ020x
No           2066  1340
yes           906  1413

In [41]:
dx['SMQ020x']=dx.SMQ020x.replace({"yes":1,"No":0})

In [42]:
dx

      SMQ020x RIAGENDRx
0           1      Male
1           1      Male
2           1      Male
3           0    Female
4           0    Female
...       ...       ...
5730        1    Female
5731        0      Male
5732        1    Female
5733        1      Male
5734        0    Female

[5725 rows x 2 columns]

In [44]:
dz=dx.groupby('RIAGENDRx').agg({'SMQ020x':[np.mean,np.size]})

In [45]:
dz

            SMQ020x
               mean  size
RIAGENDRx
Female     0.304845  2972
Male       0.513258  2753

## difference of two population proportions

In [46]:
p=0.304845
n=2972
se_female=np.sqrt(p*(1-p)/n)
se_female

0.00844415041930423

In [47]:
p=0.513258
n=2753
se_male=np.sqrt(p*(1-p)/n)
se_male

0.009526078787008965

In [48]:
se_diff=np.sqrt(se_female**2 + se_male**2)
se_diff

0.012729880335656654

In [49]:
d=0.304845-0.513258
lcb=d-1.96*se_diff
ucb=d+1.96*se_diff
(lcb,ucb)

(-0.23336356545788706, -0.18346243454211297)

## difference of two population means

In [50]:
data.groupby("RIAGENDRx").agg({"BMXBMI": [np.mean, np.std, np.size]})

              BMXBMI
                mean       std    size
RIAGENDRx
Female     29.939946  7.753319  2976.0
Male       28.778072  6.252568  2759.0

In [51]:
sem_female = 7.753319 / np.sqrt(2976)
sem_male = 6.252568 / np.sqrt(2759)
(sem_female, sem_male)

(0.14212523289878048, 0.11903716451870151)

In [52]:
sem_diff = np.sqrt(sem_female**2 + sem_male**2)
sem_diff

0.18538993598139303

In [53]:
d = 29.939946 - 28.778072

In [54]:
lcb = d - 1.96 * sem_diff
ucb = d + 1.96 * sem_diff
(lcb, ucb)

(0.798509725476467, 1.5252382745235278)

# cartwheel data

In [9]:
df=pd.read_csv('Cartwheeldata.csv')

In [10]:
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6
13,14,23,F,1,N,0,61.50,57.5,66,Y,1,4
14,15,31,M,2,Y,1,73.00,74.0,72,Y,1,9
15,16,26,M,2,Y,1,71.00,72.0,115,Y,1,6
16,17,26,F,1,N,0,61.50,59.5,90,N,0,10
17,18,27,M,2,N,0,66.00,66.0,74,Y,1,5
18,19,23,M,2,Y,1,70.00,69.0,64,Y,1,3
19,20,24,F,1,Y,1,68.00,66.0,85,Y,1,8
20,21,23,M,2,Y,1,69.00,67.0,66,N,0,2
21,22,29,M,2,N,0,71.00,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.00,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.00,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.00,63.0,67,N,0,3

In [13]:
df.groupby('Gender').agg({'Wingspan':[np.mean,np.size,np.median,np.max,np.min]})

         Wingspan
             mean  size median  amax  amin
Gender
F       61.541667  12.0   61.5  66.0  57.5
M       70.615385  13.0   71.0  76.0  66.0

             mean   min
Gender
F       61.541667  57.5
M       70.615385  66.0

# hypothesis testing in python

## one population proportion

In [2]:
import statsmodels.api as sm
import numpy as np
import pandas as pd

In [5]:
n=1018
pnull=.52
phat=.56
sm.stats.proportions_ztest(phat * n ,n,pnull)

(2.571067795759113, 0.010138547731721065)

In [10]:
x=phat-pnull/np.sqrt((pnull * (1-pnull))/n)

In [11]:
x

-32.648934540772814

In [1]:
!export PATH=/Library/TeX/texbin:$PATH

'export' is not recognized as an internal or external command,
operable program or batch file.